* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #030303e7;
}

.wrapper {
    width: fit-content;
    background-color: #fff;
    padding: 50px 20px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.wrapper .generator {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.generator p {
    font-weight: 600;
}

.generator input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin: 20px 0 0;
}

.generator input:focus {
    outline: none;
}

.generator button {
    border: none;
    background-color: burlywood;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 70px 0 0;
    cursor: pointer;
}

.generator button:hover {
    opacity: 0.7;
}

.qr-code {
    display: none; 
}

.qr-code p {
    font-weight: 600;
    margin: 15px 0  0;
}